@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.content-container {
  @apply w-full px-7;

  @screen md {
    @apply w-full px-14;
  }

  @screen lg {
    @apply w-full px-56;
  }

  @screen xl {
    @apply w-full px-80;
  }
}

.link {
  @apply text-white hover:text-white;
}
